<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404: Not Found</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="/stylesheets/error.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="bg-animation"></div>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="error-container">
                    <h1 class="error-title">Error 404: Not Found</h1>
                    <p class="error-message">The page you requested could not be found.</p>
                    <p class="error-explanation">The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>   
                    <p><div class="d-flex justify-content-center"><b>User Agent :</b></div><span id="user-agent-info"></span></p>
                    <p><span id="current-date-info"></span> | <span id="current-time-info"></span></p>
                    <a href="/" class="btn btn-primary btn-back">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/bootstrap/js/bootstrap.min.css"></script>
    <script src="javascripts/user_agent.js"></script>
    <script src="javascripts/date.js"></script>
    <script src="javascripts/time.js"></script>

</body>
</html>
